# <center> BIGDATA X YONSEI CAMPUS </center>
### <center> 키워드 분석 및 문서 분석 </center>
#### <center> 키워드 분석: 연관 검색어 </center>
---------------------------
#### <div style="text-align: right"> 손근영 </div>

## 1. Keyword Analysis - 연관 검색어
### Motivation
* 자신이 원하는 정보를 정확히 표현하는 검색어를 찾는 것은 어려운 일
* 많은 사용자들은 무엇을 찾으려고 하는지 여전히 모름
 * 비슷한 단어는 기억이 나지만 해당 키워드가 기억이 안나는 경우도 존재함
 * 예를 들면 강남 쉑쉑버거를 찾고 싶지만 쉑쉑이 기억이 안날때 -> 강남 버거로 검색
* 중요 포인드
 * 통계적으로 이런 사람들이 한둘이 아님

## 1. Keyword Analysis - 연관 검색어
### Key Idea
* 어떤 검색어가 발생하고 연이어서 발생한 검색어는 연관성이 높을 수 있다는 가정
* 이러한 상황을 유저단위가 아닌 전체 사용자로 확대하면 검색어별 연관성이 높은 검색어들을 획득 가능

## 2. 연관검색어의 서비스 화면
<center><img src='img/04_01.png' height=60% width=60%></center>

## 3. 연관검색어 가치
* 개별 사용자는 정확한 검색어는 모르지만 비슷한 검색어는 알고 있음
 * 통계적으로 정확한 검색어의 count는 높아짐
 * 사용자는 입력한 검색어에 만족을 못하면 다른 검색어를 입력하는 경향이 있음
* 검색엔진은 A라는 키워드에는 결과가 나빠도 B라는 키워드는 결과가 좋을 수 있음
* 타사용자들의 경험을 개별 사용자에게 다시 제공하면 검색의도를 명확하게 하는데 도움을 줄 수 있음
* 해당 경험은 검색량의 증가를 가져옴

## 3. 연관검색어 가치
* 검색양이 증가하면?
 * PV 상승 / 이용자의 의도가 더욱 더 log안에 저장됨
 * 해당 사용자의 행태가 저정됨
---------------------
* 검색의도가 명확해지면?
 * 검색 이용율이 늘어남 / 사용자는 좋은 검색 결과를 받아볼 수 있는 확률이 증가

## 4. 연관규칙
#### 마케팅 도시 괴담
*  오후 6~9시 사이의 소비자가 기저귀를 사면 높은 확률로 맥주도 산다
---------------------
* 왜?
 * 분석 결과 이런 케이스는 대부분 '기혼 남성' 구매자일때 발생
 * 저녁에 남편이 퇴근 -> 아내가 남편에게 전화
  * 오는길에 애기 기저귀 좀 사다줘
 * 남편은 기저귀도 사면서 맥주도 같이 삼
* 퇴근 시간때 애기용품과 남성 용품을 가깝게 두면 매출이 상승
* 다른 용례 들어보신 분?

## 4. 연관규칙
#### 기본 알고리즘
* 어떻게 기저귀가 팔릴 때 맥주도 많이 팔리는 것을 잡아냈을까?
--------------------
* 상점 주인은 영수증을 보고 한 고객이 어떤 제품을 샀는지 알 수 있음
<center><img src='img/04_02.png' height=100% width=100%></center>

## 4. 연관규칙
#### 기본 알고리즘의 핵심
<center><img src='img/04_03.png' height=100% width=100%></center>

## 4. 연관규칙
#### 지지도 (support)
* $support(x) = \frac{X포함 트랜잭션수}{전체 트랜잭션수} = \frac{|x|}{N} = P(x)$
* 비중이 작은 x를 삭제하기 위해 쓰임

#### 신뢰도 (confidence)
* x와 y를 포함하는 트랜잭션수/X가 포함된 트랜잭션 수
* $cofidence(x,y) = P(y|x) = \frac{P(x,y)}{P(x)}$
* 신뢰도가 높을 수록 유용한 규칙
* 조건부 확률과 동일

## 4. 연관규칙

#### 향상도 (lift)
* 신뢰도/support(y)
* $lift(x,y) = \frac{P(y|x)}{P(y)} = \frac{P(x,y)}{P(x)P(y)} $
* x와 y가 서로 상관이 없다면 P(y|x)와 P(y)가 같게되어 향상도가 1이 됨
* 향상도가 1보다 크면 상관이 깊고 1이면 무상관, 1보다 작으면 음의 상관

## 4. 연관규칙
#### PMI (pointwise mutual information)
* 확률기반 특정값의 연관성을 표현하는 지표
* 상질이 비슷한 대상은 동시에 등장할 확률이 높다는데에서 기반
$$ pmi(x,y) = log \frac{p(x,y)}{p(x)p(y)} = log \frac{p(x|y)}{p(x)} = log \frac{p(y|x)}{p(y)} \nonumber$$
* lift 결과에 log2를 취한 것과 동일
* 독립일 때 0, 음수라면 관련 없음, 양수면 관련 있음

## 5. 연관검색어 방식 구상
### 로그 형태

<center><img src='img/01_13.png' height=50% width=50%></center>

### 알고리즘
* 검색 로그를 line by line으로 분리
* line을 \t 기준으로 분리
* 분리된 데이터에서 '시간', 'id', '검색어'를 획득
* id기준으로 시간, 검색어 pair를 추출
* 위의 데이터에서 의미 있는 검색어 pair를 다시 추출
* 검색어 pair에서 연관 공식을 이용하여 연관어 대상을 추출
* 입력된 검색어에 대하여 연관 검색어를 노출

## 5. 연관검색어

### 알고리즘
$$ P(연관검색어|현재검색어) \nonumber $$
* 모든 P(이전검색어 = A)와 P(다음검색어 = B)의 값을 획득
* P(A, B)의 값을 획득
* P(A), P(B), P(A, B)를 한 dataframe으로 조인
* P(A), P(B), P(A, B)를 이용하여 P(B|A)를 구해냄 (혹은 PMI를 획득)
* A 기준으로 P(B|A)의 높은 순서의 B를 A 키워드당 10~20개씩 저장

## 6. 검색어 트랜잭션

### 검색어 트랜잭션의 형태
* 다음은 어떤 사용자의 검색 이용기록이라고 가정한 테이블
<center><img src='img/04_04.png' height=100% width=100%></center>

## 6. 검색어 트랜잭션

### Sessionization
* 관련있는 pairwise 검색어를 어떻게 획득 할 수 있을까?
* 의미 있는 시간 단위로 검색 chain을 생성 가능
* 2시간 안에 입력 되는 값을 chain으로 연결 시 다음과 같음
<center><img src='img/04_05.png' height=100% width=100%></center>

## 6. 검색어 트랜잭션

### Sessionization의 시간 대비 품질
* 묶는 시간이 작을 경우
 * 강한 연관성을 갖는 session이 만들어짐
 * 검색어 pari의 양이 적어짐
* 묶는 시간이 클 경우
 * 연관성이 낮은 session이 포함 될 확률이 높아짐
 * 검색 pair의 양이 많아짐

## 6. 검색어 트랜잭션

### Sessionization의 시간 대비 품질
* 2시간으로 sessionize한 검색 로그의 예
<center><img src='img/04_06.png' height=100% width=100%></center>

## 6. 검색어 트랜잭션

### 검색키워드의 조건부 확률
* 수식 정의
 * P(A) - 앞쪽 키워드의 출현 확률 (이전 검색어)
 * P(B) - 뒤쪽 키워드의 출현 확률 (이후 검색어)
 * P(A,B) - 동시 출현 확률
<center><img src='img/04_07.png' height=70% width=70%></center>

## 6. 검색어 트랜잭션

### 검색키워드의 조건부 확률
* 수식 정의
 * P(A) - 앞쪽 키워드의 출현 확률 (이전 검색어)
 * P(B) - 뒤쪽 키워드의 출현 확률 (이후 검색어)
 * P(A,B) - 동시 출현 확률
<center><img src='img/04_08.png' height=100% width=100%></center>

In [1]:
import pandas as pd

In [3]:
import csv 
df = pd.read_csv('data/sample_search_log.txt', sep='\t', header=None, names = ['date', 'id', 'keyword', 'result'],
                 quoting=csv.QUOTE_NONE)
df =  df[df["date"].map(str).map(len) == 15]
df['date'] = df.date.apply(lambda x: pd.datetime.strptime(x, '%Y%m%d-%H%M%S'))

In [4]:
#연관 검색어에서 쓰일 date, id, keyword로 df를 정리
df = df[['date', 'id', 'keyword']]
df.head(5)

                 date                                id      keyword
0 2011-11-03 17:11:44  9c4d360d316e5792e5a37b0e0a1e8b82       지하철노선도
1 2011-11-03 17:13:02  12e994b978d42d93d4347d89a2519d0f  서울시립대 반값등록금
2 2011-11-03 17:03:29  0c88a61cb02801ac21747a9b02e57300         벼룩시장
3 2011-11-03 17:06:12  d21dad3d5c8c6bb2a5271faf95db31db         영화다운
4 2011-11-03 17:14:37  7d228d8b281447909b0bfa89b88b06dc         수지 방

In [5]:
# 보기 편하게 date와 id 순으로 df를 정렬
df = df.dropna()
df = df.sort_values(by=['date', 'id'])
df.head(5)

             date                                id     keyword
364982 2011-11-03  5996de2df2b6889c7d6373e09c425c84         주걸륜
308234 2011-11-03  93ac87adba3c3e7e0dae915701884f87  잭다니엘 로고 ai
225718 2011-11-03  a4b49b06464597a9cd070985199bc637       한미fta
365139 2011-11-03  e87fa94638891f3ed8737abf368e06e5        B형성격
364977 2011-11-03  ea32f8b00e48384fe683963202bdb36e    조성흠 일러스트

In [6]:
# 한사람이 2개이상 검색어를 입력한 경우를 보기
# df를 id로 그루핑
gdf = df.groupby('id')
df2 = gdf.filter(lambda x:x['keyword'].count() > 2)
gdf = df2.groupby('id')
df2.head(5)

                      date                                id         keyword
225718 2011-11-03 00:00:00  a4b49b06464597a9cd070985199bc637           한미fta
364977 2011-11-03 00:00:00  ea32f8b00e48384fe683963202bdb36e        조성흠 일러스트
308195 2011-11-03 00:00:01  8e384b72b2697ab85d576cc56a58d45d        이승철 서쪽하늘
463874 2011-11-03 00:00:02  017d67a71a5a01f81150981deac2a884  아이돌마스터 16화 토렌트
284588 2011-11-03 00:00:02  46440372c22f13a6da465989d88d719d          신상뽐춤노래

In [7]:
# 개별 id 를 체크 하여 실제 얼만큼 검색어를 입력했는지 확인
gdf.get_group('a4b49b06464597a9cd070985199bc637')

                      date                                id keyword
225718 2011-11-03 00:00:00  a4b49b06464597a9cd070985199bc637   한미fta
482697 2011-11-03 00:01:36  a4b49b06464597a9cd070985199bc637   한미fta
297916 2011-11-03 00:02:00  a4b49b06464597a9cd070985199bc637   한미fta
297917 2011-11-03 00:02:03  a4b49b06464597a9cd070985199bc637   한미fta
297918 2011-11-03 00:02:09  a4b49b06464597a9cd070985199bc637   한미fta
297919 2011-11-03 00:02:21  a4b49b06464597a9cd070985199bc637   한미fta
464335 2011-11-03 00:02:44  a4b49b06464597a9cd070985199bc637   한미fta
473612 2011-11-03 00:03:28  a4b49b06464597a9cd070985199bc637   한미fta
162721 2011-11-03 00:03:48  a4b49b06464597a9cd070985199bc637   한미fta
162722 2011-11-03 00:04:03  a4b49b06464597a9cd070985199bc637   한미fta
628039 2011-11-03 00:04:44  a4b49b06464597a9cd070985199bc637   한미fta
628040 2011-11-03 00:04:50  a4b49b06464597a9cd070985199bc637   한미fta
515148 2011-11-03 00:05:19  a4b49b06464597a9cd070985199bc637   한미fta
406639 2011-11-03 00:05:50  a4b49b06464597a9cd070985199bc637   한미fta
406640 2011-11-03 00:06:14  a4b49b06464597a9cd070985199bc637   한미fta
226156 2011-11-03 00:06:42  a4b49b06464597a9cd070985199bc637   한미fta
355652 2011-11-03 00:07:34  a4b49b06464597a9cd070985199bc637   한미fta
355653 2011-11-03 00:07:41  a4b49b06464597a9cd070985199bc637   한미fta
355654 2011-11-03 00:07:44  a4b49b06464597a9cd070985199bc637   한미fta
65675  2011-11-03 00:07:53  a4b49b06464597a9cd070985199bc637   한미fta
65676  2011-11-03 00:08:18  a4b49b06464597a9cd070985199bc637   한미fta

In [8]:
gdf.get_group('8e384b72b2697ab85d576cc56a58d45d')

                      date                                id   keyword
308195 2011-11-03 00:00:01  8e384b72b2697ab85d576cc56a58d45d  이승철 서쪽하늘
77059  2011-11-03 00:35:35  8e384b72b2697ab85d576cc56a58d45d        b형
66362  2011-11-03 00:36:49  8e384b72b2697ab85d576cc56a58d45d   o형남 o형여

In [9]:
#그룹된 df에서 keyword를 list로 확장한다
df3 = gdf.agg({'keyword':list})
df3.head(5)

                                                                            keyword
id
0001345b66f604c70ebf4654a16779ef          [다이어트 효과, 미료 카리스마 사진, 2주 20kg, 하루 1시간 걷기]
0001e9697cf8771c1126f08e38c6e010                             [엘소드, 이어폰, 광개토태왕 미리보기]
0002a91b2d41f3d1bcdb3b4fc7c4f395                              [가수박모, 박혜경 공식입장, 임수향]
0003d2c1433bc164ee15e668fb62df77  [bubble trouble, 테트리스 한게임, 타이젬 외톨이, Dollars, D...
000699dd69c60d75d69ccf8f3d162401                            [낙뢰방지, 계장, 제너배리어, 낙뢰방지]

In [10]:
#keyword에서 검색 pair를 추출한다
df4 = df3.keyword.apply(lambda x:[tuple(x[i:i+2]) for i in range(len(x)-1)]).to_frame()
df4.head(5)

                                                                            keyword
id
0001345b66f604c70ebf4654a16779ef  [(다이어트 효과, 미료 카리스마 사진), (미료 카리스마 사진, 2주 20kg),...
0001e9697cf8771c1126f08e38c6e010                    [(엘소드, 이어폰), (이어폰, 광개토태왕 미리보기)]
0002a91b2d41f3d1bcdb3b4fc7c4f395                [(가수박모, 박혜경 공식입장), (박혜경 공식입장, 임수향)]
0003d2c1433bc164ee15e668fb62df77  [(bubble trouble, 테트리스 한게임), (테트리스 한게임, 타이젬 외톨...
000699dd69c60d75d69ccf8f3d162401           [(낙뢰방지, 계장), (계장, 제너배리어), (제너배리어, 낙뢰방지)]

In [11]:
#각 하나의 row의 검색 pair를 series로 치환한다
df5 = df4.keyword.apply(pd.Series)
df5.head(5)

,0,1,2,3,4,5,6,7,8,9,...,398,399,400,401,402,403,404,405,406,407
id,,,,,,,,,,,,,,,,,,,,,
0001345b66f604c70ebf4654a16779ef,"(다이어트 효과, 미료 카리스마 사진)","(미료 카리스마 사진, 2주 20kg)","(2주 20kg, 하루 1시간 걷기)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0001e9697cf8771c1126f08e38c6e010,"(엘소드, 이어폰)","(이어폰, 광개토태왕 미리보기)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a91b2d41f3d1bcdb3b4fc7c4f395,"(가수박모, 박혜경 공식입장)","(박혜경 공식입장, 임수향)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003d2c1433bc164ee15e668fb62df77,"(bubble trouble, 테트리스 한게임)","(테트리스 한게임, 타이젬 외톨이)","(타이젬 외톨이, Dollars)","(Dollars, Dollars 다라즈)",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000699dd69c60d75d69ccf8f3d162401,"(낙뢰방지, 계장)","(계장, 제너배리어)","(제너배리어, 낙뢰방지)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#스택 명령을 이용하여 field안에 담긴 serise를 column으로 치환한다
df6 = df5.stack().to_frame('pairwise')
df6 = df6.reset_index(level=0)
df6.head(5)

                                 id               pairwise
0  0001345b66f604c70ebf4654a16779ef  (다이어트 효과, 미료 카리스마 사진)
1  0001345b66f604c70ebf4654a16779ef  (미료 카리스마 사진, 2주 20kg)
2  0001345b66f604c70ebf4654a16779ef   (2주 20kg, 하루 1시간 걷기)
0  0001e9697cf8771c1126f08e38c6e010             (엘소드, 이어폰)
1  0001e9697cf8771c1126f08e38c6e010      (이어폰, 광개토태왕 미리보기)

In [14]:
#pairwise컬럼을 각 A 컬럼, B컬럼으로 분리한다
df7 = df6.pairwise.apply(lambda x:x[0]).to_frame('A')
df7['B'] = df6.pairwise.apply(lambda x:x[1])
df7.head(5)

            A           B
0     다이어트 효과  미료 카리스마 사진
1  미료 카리스마 사진     2주 20kg
2     2주 20kg   하루 1시간 걷기
0         엘소드         이어폰
1         이어폰  광개토태왕 미리보기

In [15]:
#집계용 띄어쓰기, 대소문자를 처리한 A, B 컬럼을 추가한다
df7['key_A'] = df7.A.apply(lambda x:x.replace(' ','').lower())
df7['key_B'] = df7.B.apply(lambda x:x.replace(' ','').lower())
df7.head(5)

            A           B     key_A      key_B
0     다이어트 효과  미료 카리스마 사진    다이어트효과   미료카리스마사진
1  미료 카리스마 사진     2주 20kg  미료카리스마사진     2주20kg
2     2주 20kg   하루 1시간 걷기    2주20kg    하루1시간걷기
0         엘소드         이어폰       엘소드        이어폰
1         이어폰  광개토태왕 미리보기       이어폰  광개토태왕미리보기

In [16]:
#P(A), P(B), P(A,B)를 추출하기 위한 df를 추가한다
stats_A = df7.groupby(by='key_A')['key_A'].count().to_frame('freq_A')
stats_A['total_A'] = stats_A.freq_A.sum()
stats_B = df7.groupby(by='key_B')['key_B'].count().to_frame('freq_B')
stats_B['total_B'] = stats_B.freq_B.sum()

In [17]:
stats_A.head(5)

                                                    freq_A  total_A
key_A
                                                         4   209199
!!!                                                      3   209199
!깜빡                                                      1   209199
"dude,i'mchuckbass,evenyourpantsmustknowwhattha...       2   209199
"slowandsteady""명사"                                      1   209199

In [18]:
stats_B.head(5)

                                                    freq_B  total_B
key_B
                                                         5   209199
!!!                                                      4   209199
!깜빡                                                      1   209199
"dude,i'mchuckbass,evenyourpantsmustknowwhattha...       1   209199
"tenkiu                                                  1   209199

In [19]:
#A,B에 대한 집계도 추가한다
stats_AB = df7.groupby(by=['key_A', 'key_B'])['A'].count().to_frame('freq_AB')
stats_AB['total_AB'] = stats_AB.freq_AB.sum()
stats_AB.head(5)

               freq_AB  total_AB
key_A key_B
      경주콘도           1    209199
      메이비신체나이        1    209199
      영국전통의상         1    209199
      키즈짱            1    209199
!!!   가리온            1    209199

In [20]:
#기존 df에 집계된 A,B AB의 통계 정보를 추가한다
df8 = pd.merge(df7, stats_A, on='key_A')
print (len(df8))
df8.head(5)

209199

            A                B     key_A            key_B  freq_A  total_A
0     다이어트 효과       미료 카리스마 사진    다이어트효과         미료카리스마사진       1   209199
1  미료 카리스마 사진          2주 20kg  미료카리스마사진           2주20kg     453   209199
2  미료 카리스마 사진  dutntnstkfrkfcl  미료카리스마사진  dutntnstkfrkfcl     453   209199
3  미료 카리스마 사진     mobile based  미료카리스마사진      mobilebased     453   209199
4  미료 카리스마 사진               sk  미료카리스마사진               sk     453   209199

In [21]:
df9 = pd.merge(df8, stats_B, on='key_B')
print (len(df9))
df9.head(5)

209199

          A           B    key_A     key_B  freq_A  total_A  freq_B  total_B
0   다이어트 효과  미료 카리스마 사진   다이어트효과  미료카리스마사진       1   209199     476   209199
1  박혜경 공식입장  미료 카리스마 사진  박혜경공식입장  미료카리스마사진     113   209199     476   209199
2  송중기 나쁜 손  미료 카리스마 사진   송중기나쁜손  미료카리스마사진     871   209199     476   209199
3   송중기 나쁜손  미료 카리스마 사진   송중기나쁜손  미료카리스마사진     871   209199     476   209199
4  송중기 나쁜 손  미료 카리스마 사진   송중기나쁜손  미료카리스마사진     871   209199     476   209199

In [22]:
df10 = df9.merge(stats_AB, on=['key_A', 'key_B'])
print (len(df10))
df10.head(5)

209199

,A,B,key_A,key_B,freq_A,total_A,freq_B,total_B,freq_AB,total_AB
0,다이어트 효과,미료 카리스마 사진,다이어트효과,미료카리스마사진,1,209199,476,209199,1,209199
1,박혜경 공식입장,미료 카리스마 사진,박혜경공식입장,미료카리스마사진,113,209199,476,209199,1,209199
2,송중기 나쁜 손,미료 카리스마 사진,송중기나쁜손,미료카리스마사진,871,209199,476,209199,7,209199
3,송중기 나쁜손,미료 카리스마 사진,송중기나쁜손,미료카리스마사진,871,209199,476,209199,7,209199
4,송중기 나쁜 손,미료 카리스마 사진,송중기나쁜손,미료카리스마사진,871,209199,476,209199,7,209199

In [23]:
# 통계 정보를 이용하여 pmi를 측정한다
import numpy as np
df10['pmi'] = np.log2( (df10.freq_AB/df10.total_AB) /((df10.freq_A/df10.total_A) * (df10.freq_B/df10.total_B)))
df11 = df10[['key_A', 'key_B', 'B', 'pmi', 'freq_A', 'freq_B', 'freq_AB']]
df11.head(5)

     key_A     key_B           B       pmi  freq_A  freq_B  freq_AB
0   다이어트효과  미료카리스마사진  미료 카리스마 사진  8.779699       1     476        1
1  박혜경공식입장  미료카리스마사진  미료 카리스마 사진  1.959520     113     476        1
2   송중기나쁜손  미료카리스마사진  미료 카리스마 사진  1.820525     871     476        7
3   송중기나쁜손  미료카리스마사진  미료 카리스마 사진  1.820525     871     476        7
4   송중기나쁜손  미료카리스마사진  미료 카리스마 사진  1.820525     871     476        7

In [24]:
#pmi 순으로 내림차순 진행
df12 = df11.sort_values(by=['pmi', 'key_A'], ascending=False)
df12.head(5)

             key_A   key_B       B        pmi  freq_A  freq_B  freq_AB
205205  ～もなければ～もない    구미여고    구미여고  17.674516       1       1        1
146353       ～に際して  뇌구조테스트  뇌구조테스트  17.674516       1       1        1
146352      ～にあたって   ～に際して   ～に際して  17.674516       1       1        1
135398          ｋｙ      雛壇      雛壇  17.674516       1       1        1
155335    ﻿첫사랑예보7화   리미트1권  리미트 1권  17.674516       1       1        1

In [25]:
df12.tail(5)

          key_A     key_B          B       pmi  freq_A  freq_B  freq_AB
3110        김두한  여자아이돌대마초  여자아이돌 대마초 -1.972067     350    2345        1
31763  여자아이돌대마초       김을동        김을동 -2.150604    2328     399        1
32362  여자아이돌대마초       김현정        김현정 -2.231458    2328     422        1
2907     소이왕따고백  여자아이돌대마초  여자아이돌 대마초 -2.238532     421    2345        1
16532  여자아이돌대마초       이재진        이재진 -2.515983    2328     514        1

In [26]:
# 너무 낮은 등장 빈도를 가지고 있는 키워드를 필터링한다
df13 = df12[(df12.freq_A > 5) & (df12.freq_B > 5) & (df12.key_A != df12.key_B)]
df13 = df13[['key_A', 'B', 'pmi']]
df13.head(5)

        key_A     B        pmi
209091   한우공장  골목식당  14.089554
209092   한우공장  골목식당  14.089554
209093   한우공장  골목식당  14.089554
209077  뽀빠이횟집  대영식당  14.089554
209078  뽀빠이횟집  대영식당  14.089554

In [27]:
df13.tail(5)

          key_A          B       pmi
3110        김두한  여자아이돌 대마초 -1.972067
31763  여자아이돌대마초        김을동 -2.150604
32362  여자아이돌대마초        김현정 -2.231458
2907     소이왕따고백  여자아이돌 대마초 -2.238532
16532  여자아이돌대마초        이재진 -2.515983

In [28]:
#df에서 중복 키워드를 제거한다
df14 = df13.drop_duplicates()
df14.head(5)

               key_A          B        pmi
209091          한우공장       골목식당  14.089554
209077         뽀빠이횟집       대영식당  14.089554
208965       청정바다회센타       안동갈비  13.867162
113734  라디오스타무한도전토렌트  라디오스타 토렌트  13.867162
106138           체리벳      인터넷배팅  13.674516

In [29]:
# 함께 들고 다니기 편리하게 related란 필드를 만들고 키워드 정보와 pmi를 함께 둔다
df14['related'] = list(zip(df14.B, df14.pmi))
df14.head(5)

C:\Users\sons\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

               key_A          B        pmi                          related
209091          한우공장       골목식당  14.089554       (골목식당, 14.089553929036223)
209077         뽀빠이횟집       대영식당  14.089554       (대영식당, 14.089553929036223)
208965       청정바다회센타       안동갈비  13.867162       (안동갈비, 13.867161507699775)
113734  라디오스타무한도전토렌트  라디오스타 토렌트  13.867162  (라디오스타 토렌트, 13.867161507699775)
106138           체리벳      인터넷배팅  13.674516      (인터넷배팅, 13.674516429757379)

In [30]:
#최종적으로 key_A 로 그루핑을 하고 relate를 리스트로 변경해줌
df15 = df14.groupby(by='key_A').agg({'related':list})
df15.head(5)

                                                                          related
key_A
%ub9c8%ud06c%ub85c%uc820        [(부광약품, 11.974076711616286), (마크로젠, 10.9151830...
%uba54%ub514%ud3ec%uc2a4%ud2b8  [(paxnet, 11.630122310398924), (%uB9C8%uD06C%u...
003190                          [(005500, 11.352588334870015), (034940, 10.426...
005500                          [(034940, 11.689623322147586), (003190, 11.352...
034940                                             [(005500, 11.767625834148859)]

In [31]:
# 검색에 편리하도록 dict형태로 변경한뒤 테스트 
res = df15.to_dict()
res['related']['국민은행']

[('동양종합금융증권', 8.899729370156205),
 ('부동산경매', 8.677336948819757),
 ('배트맨토토', 8.314766869435049),
 ('동양종금', 8.025260252240065),
 ('464회로또', 8.025260252240065),
 ('올레샵', 7.577801275268842),
 ('신한은행', 7.047286558570063),
 ('국민카드', 7.025260252240064),
 ('롯데카드', 6.961129914820348),
 ('우리은행', 6.462324057848907),
 ('팍스넷', 6.440297751518908),
 ('삼성카드', 6.275238505248411),
 ('환율', 5.65180185671262),
 ('11번가', 5.275238505248411),
 ('웹툰', 5.180911122700258),
 ('나는 꼼수다', 5.0923744480986),
 ('화성인 족쇄남 과거 해명', 4.7842521527362685),
 ('싸이월드', 4.626710875749788),
 ('토요일날씨', 4.626710875749788),
 ('이재진 음주운전', 3.5658286336027665),
 ('햄토킹', 3.54805393187479),
 ('한사람이 보이면 솔로', 3.360570559048173),
 ('유상증자', 3.314766869435049),
 ('진지희 폭풍성장', 3.1992896520151124),
 ('소이 왕따 고백', 2.9224494466562883),
 ('김요한 안은정 결별', 1.914836262546413)]

In [33]:
#실제 입력 느낌의 테스트
a = res['related']['나는 꼼수다'.replace(' ', '').lower()]
[(k, v) for k, v in a if v > 6]

[('정봉주', 8.347338074182813),
 ('뿌리깊은 나무 소이', 8.312572656022137),
 ('나는 꼼수다 26회', 8.312572656022137),
 ('게임메카', 8.312572656022137),
 ('아저씨', 8.312572656022137),
 ('마음의소리', 7.7979994831923785),
 ('짬뽕라면 만들기', 7.660495959442444),
 ('김용민', 7.660495959442444),
 ('애쉬튼 커쳐 각서', 7.534965077358585),
 ('대한항공 채용', 7.119927578079741),
 ('성신여대', 7.032464736829401),
 ('남경필', 7.032464736829401),
 ('김어준', 6.950002576637428),
 ('주진우', 6.534965077358585),
 ('나는 꼼수다 27회', 6.4194878599386485),
 ('당연히송', 6.165731267692865),
 ('ISD', 6.165731267692865)]

In [34]:
from ipywidgets import widgets
from IPython.display import display
from IPython.display import clear_output
text = widgets.Text()

def handle_submint(sender):
    clear_output()
    display(text)
    for k, v in get_related(text.value):
        print(k)

text.on_submit(handle_submint)

def get_related(raw, rows=10, pmi_threshold=6):
    return [(k, v) for k, v in res['related'].get(raw.replace(' ', '').lower(), []) if v > pmi_threshold][:rows]

In [35]:
display(text)

Text(value='국민은행')

동양종합금융증권
부동산경매
배트맨토토
동양종금
464회로또
올레샵
신한은행
국민카드
롯데카드
우리은행

## quiz 1 
- 연관검색어를 구현해보자