In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

# NC 다이노스 선수 데이터 분석
## 1. 데이터 적재 및 통합

## 2. 2015년도 선수 기록을 '타율'로 내림차순 정렬

## 3.  (실습) 2013~2015년  선수별로 3년 간 평균 안타수를 구한 후, 평균 안타수가 가장 많은 상위 10명의 선수를 출력

## 4. (실습) 3에서 구한 상위 10명의 타자들의 3년간 안타, 홈런, 타율을 출력하기

      안타               홈런                타율
년도  2013 2014   2015 2013 2014  2015   2013   2014   2015
선수명
김종호  129    -  125.0    0    -   4.0  0.277      -  0.295
김태군    -    -  107.0    -    -   6.0      -      -  0.254
나성범   98  157  184.0   14   30  28.0  0.243  0.329  0.326
모창민  109  110   62.0   12   16   6.0  0.276  0.263  0.290
박민우   11  124  158.0    0    1   3.0  0.262  0.298  0.304
손시헌    -   90  108.0    -    5  13.0      -  0.293  0.245
이종욱    -  126  118.0    -    6   5.0      -  0.288  0.268
이호준  123  115  132.0   20   23  24.0  0.278  0.271  0.294
지석훈   68   58  111.0    3    6  11.0  0.220  0.274  0.267
테임즈    -  152  180.0    -   37  47.0      -  0.343  0.381

## 5. (실습) 년도별 팀의 기록 (총 안타수, 총 홈런수, 총 도루수)을 출력

       도루    안타   홈런
년도
2013  133   814   63
2014  118  1039  139
2015  201  1380  158

##  (심화) 조건 추가. 팀 타율도 함께 출력 
### 팀 타율은 선수 타율의 평균으로 가정

       도루    안타        타율   홈런
년도
2013  132   814  0.232895   63
2014  118  1039  0.206950  139
2015  201  1380  0.245550  158